.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

a {
  margin: 0 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

a:hover {
  text-decoration: underline;
}
